@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.epr_-6npj90 {
  --epr-emoji-size: 20px !important;
  --epr-category-navigation-button-size: 20px !important;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.15);
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
      */
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.mdx_placeholder {
  font-size: small;
  content: "Jotdown your thougts...";
  opacity: 0.5;
  position: absolute;
  top: 0.5em;
  left: 3em;
  pointer-events: none;
  display: block; /* For Firefox */
}

.mdx_ce li {
  margin: 0.3em 0;
}

.mdx_ce.mdx_uninit p:has(br) {
  display: none;
}

.mdx_ce.mdx_uninit p:only-child {
  display: inline;
}

.mdx_ce li:before {
  content: "•";
  margin-right: 0.5em;
  color: rgb(var(--foreground-rgb));
}

.mdx_ce li > ul {
  margin-left: 0.5em;
}

.mdx_ce_min li {
  margin: 0.1em 0;
}

.mdx_ce_min p {
  display: none;
}

.imp-p-0 {
  padding: 0 !important;
}

.summary_mdx > h1,
h2 {
  font-weight: bold !important;
  font-size: x-large;
}

.summary_mdx > h3 {
  font-weight: bold !important;
  font-size: large;
}

.summary_mdx ul {
  list-style: disc !important;
}

.summary_mdx ul > li::marker {
  display: list-item;
  list-style: disc !important;
  list-style-position: outside !important;
}

.home_bg {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.icon_size {
  font-size: unset !important;
}

.cursor-pointer {
  user-select: none;
}

@layer utilities {
  .animated-border-box-glow {
    max-height: 200px;
    max-width: 250px;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    border-radius: 10px;
  }

  .animated-border-box {
    overflow: hidden;
    border-radius: 7px;
  }

  .animated-border-box-glow {
    overflow: hidden;
    filter: blur(20px);
  }

  .animated-border-box:before,
  .animated-border-box-glow:before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    position: absolute;
    width: 99999px;
    height: 99999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(
      rgba(0, 0, 0, 0),
      rgba(255, 255, 255, 0.5),
      rgba(0, 0, 0, 0) 50%
    );
    animation: rotate 4s linear infinite;
  }

  .animated-border-box:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: black;
    border-radius: 7px;
  }

  @keyframes rotate {
    100% {
      transform: translate(-50%, -50%) rotate(1turn);
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.overflow-y-auto::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar {
  overflow-x: auto; /* Ensure horizontal scrolling */
  scrollbar-width: thin; /* "auto" or "thin" depending on browser support */
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track); /* optional: customize scrollbar colors */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb); /* color of the scrollbar thumb */
  border-radius: 10px; /* roundness of the thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track); /* color of the scrollbar track */
}

/* Media queries for tablet and mobile devices */
@media (max-width: 768px) {
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px; /* Adjust width for tablets */
  }
}

@media (max-width: 480px) {
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px; /* Adjust width for mobile */
  }
}

/* This CSS removes the default clock icon from the time input */
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* Google Calendar End Date Border to Black */
.customDatePickerRoot .MuiOutlinedInput-notchedOutline {
  border-color: black !important; /* Important to ensure it overrides */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

@keyframes growProgressBar {
  0% { --pgPercentage: calc(var(--value) - 33.33); }
  100% { --pgPercentage: var(--value); }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

.circular-progress-button {
  --size: 4rem; 
  --fg: #1E90FF;
  --bg: #ddd; 
  --pgPercentage: 0;
  animation: growProgressBar 1s forwards;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
}

.circular-progress-button button {
  width: calc(var(--size) - 1rem);
  height: calc(var(--size) - 1rem);
}

.react-activity-calendar__calendar{
  padding-bottom: 4px;
}

.react-activity-calendar__scroll-container{
  overflow-x: auto; 
  scrollbar-width: thin; 
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track); 
}
